* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
  }

.modal {
    position: fixed;
    top: 30vh;
    left: 20%;
    width: 60%;
    z-index: 100;
    overflow: hidden;
    background-color: #fff;
    padding: 2rem 4rem;
    border-radius: 10px;
  }

.form {
    width: 70%;
    height: 4rem;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-input{
    width: 80%;
    height: 70%;
    border-radius: 20px;
    border: none;
    box-shadow: 0 2px 8px #aaaaaa;
    outline: none;
    font-family: inherit;
    font-size: 1rem;
    padding-left: 1rem;
}

.form button{
    margin-left: 1rem;
    width: 4rem;
    height: 70%;
    border: none;
    border-radius: 20px;
    border-color: #aaaaaa;
    box-shadow: 0 2px 8px #aaaaaa;
    cursor: pointer;
    background: white;
    font-family: inherit;
    font-size: 1rem;
}

.form button:hover,
.form button:active {
    background-color: rgb(242, 213, 213);
}

.book{
    width: 100%;
    margin: 1.5rem auto;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    box-shadow: 0 2px 8px #aaaaaa;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.book h1 {
    font-size: 1.5rem;
}

.book-data {
    width: 70%;
}

.main-section{
    margin: 4rem auto;
    width:70%;
}

.button{
    display: flex;
    align-items: center;
}

.button button {
    width: 7rem;
    height: 2rem;
    background-color: rgb(75, 214, 75);
    border: none;
    border-radius: 7px;
    font-family: inherit;
    cursor: pointer;
}

.button button:hover{
    background-color: green;
}

.description {
    margin: 1rem 0;
    text-align: justify;
}